<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Venmo Payouts</title>
  <link rel="stylesheet" href="/stylesheets/screen.css">
</head>
<body>
  <header>
    <h1>Venmo Payouts</h1>
    <p>Use the Venmo Payouts API to send payments.</p>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
